<div class="mt-4">
  <form method="POST" action="">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="email"
        id="form1Example1"
        class="form-control"
        name="email"
      />
      <label class="form-label" for="form1Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form1Example2"
        class="form-control"
        name="pass"
      />
      <label class="form-label" for="form1Example2">Password</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="number"
        id="form1Example2"
        class="form-control"
        name="number"
      />
      <label class="form-label" for="form1Example2">Age</label>
    </div>
    <div class="form-outline mb-4">
      <select name="gender" class="form-control">
        <option value="">--Chọn giới tính--</option>
        <option value="male">Name</option>
        <option value="Female">Nữ</option>
      </select>
      <label class="form-label" for="form1Example2">Giới tính</label>
    </div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="form1Example3"
            checked
          />
          <label class="form-check-label" for="form1Example3">
            Remember me
          </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  </form>
</div>